/*#region Fonts*/

@font-face {
    font-family: SF-Pro-Display;
    src: url(src/font/SF-Pro-Display-Light.woff);
    font-weight: 0;
}

@font-face {
    font-family: SF-Pro-Display;
    src: url(src/font/SF-Pro-Display-Regular.woff);
    font-weight: 50;
}

@font-face {
    font-family: SF-Pro-Display;
    src: url(src/font/SF-Pro-Display-Medium.woff);
    font-weight: 100;
}

@font-face {
    font-family: SF-Pro-Display;
    src: url(src/font/SF-Pro-Display-Semibold.woff);
    font-weight: 150;
}

@font-face {
    font-family: SF-Pro-Display;
    src: url(src/font/SF-Pro-Display-Bold.woff);
    font-weight: 200;
}

/*#endregion*/

/*#region Other*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header, body{
	margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

/*#endregion*/

/*#region Header*/

.header-div{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1296px;
    
    padding: 8.8px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));

    border-bottom: solid 1px #D7EAFF ;
}

.header-text{
    cursor: default;

    margin: 0 48px 0 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 13px;
    letter-spacing: 1px;
}

.header-button{
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 185.09px;
    height: 31.6px;

    padding: 6px 10px;
    
    background-color: #F0F0F1;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: #E4E4E5;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 12px;
    color: #989CA2;
    letter-spacing: 1px;
    
    transition: 0.2s;
}

.header-button:hover{
    color: #000000;

    transition: 0.2s;
}

.header-button-img{
    width: 18px;
    height: 14px;
}

/*#endregion*/

/*#region Nav*/

.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1296px;

    padding: 16.7px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.nav-div-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-div-right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-img{
    cursor: pointer;

    width: 120px;
    height: 28px;
    
    margin-right: 64px;
    padding: 5px 0;
}

.nav-button-category{
    cursor: pointer;

    padding: 8px;
    margin-right: 16px;

    background-color: transparent;
    border-style: none;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;

    transition: 0.2s;
}

.nav-button-category:hover{
    color: #3597FF;

    transition: 0.2s;
}

.nav-div-dropdown{
    pointer-events: none;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 150px;
    height: 100px;

    padding: 5px 5px;

    border-radius: 7px;

    background-color: #FFFFFF;

    opacity: 0;

    transform: translate(250px, 65px);

    transition: 0.2s;
}

.nav-button-category--dropdown:hover ~ .nav-div-dropdown{
    pointer-events: all;

    opacity: 1;

    transition: 0.2s;
}

.nav-div-dropdown:hover{
    pointer-events: all;

    opacity: 1;

    transition: 0.2s;
}

.nav-button-join{
    cursor: pointer;

    padding: 12px 20px;

    width: 157px;
    height: 46.6px;

    background-color: #3597FF;

    border-style: none;
    border-radius: 5px;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/*#endregion*/

/*#region Section 1*/

.section-1-div-container{
    background-color: #3597FF;
}

.section-1-div-main{
    display: flex;
    align-items: center;
    align-items: start;

    max-width: 1296px;
    height: 440px;

    margin: 0 max(75px, calc((100vw - 1296px) * 0.5));
}

.section-1-div-text{
    display: flex;
    flex-wrap: wrap;

    max-width: 526px;

    padding: 48px 0;
    margin: 48px 18px 48px 0;
}

.section-1-div-img-main{
    display: flex;
    align-items: end;

    height: 100%;

    margin: auto;
}

.section-1-text-1{
    cursor: default;

    margin: 0 0 24px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 48px;
}

.section-1-text-2{
    cursor: default;

    margin: 0 0 16px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-1-img-main{
    width: 543px;
    height: 418px;
    
    z-index: 1;
}

.section-1-div-img-o{
    display: flex;
    justify-content: right;

    height: 0;
}

.section-1-img-o{
    position: absolute;

    width: 482px;
    
    z-index: 0;
    
    transform: translate(+241px, -241px);
}

/*#endregion*/

/*#region Section 2*/

.section-2-div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 1296px;

    padding: 80px 12px 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-2-text-1{
    cursor: default;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-2-text-2{
    cursor: default;

    max-width: 1200px;
    
    margin: 8px 0;

    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-2-div-cards{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 56px 0 16px 0;
}

.section-2-div-card{
    padding: 0 12px;

    max-width: 306px;
}

.section-2-text-card-1{
    cursor: default;

    padding: 12px 0 8px 0;
    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-2-text-card-2{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 14px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 21px;
}

/*#endregion*/

/*#region Section 3*/

.section-3-div-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1320px;

    padding: 72px 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-3-div-text{
    padding: 0 0 0 12px;

    min-width: 1px;
    max-width: 636px;
}

.section-3-div-cards{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;

    max-width: 502px;

    padding: 0 8px 0 0;
}

.section-3-text-1{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-3-text-2{
    cursor: default;

    margin: 0 0 24px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-3-text-3{
    cursor: default;

    margin: 0 0 16px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-3-div-card{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;

    width: 185px;
    height: 151px;

    padding: 16px 24px;
    margin: 8px;

    border-radius: 4px;
}

.section-3-div-card[data-color="1"]{
    background-color: #F1F7FD;
}
.section-3-div-card[data-color="2"]{
    background-color: #D7F8EB;
}
.section-3-div-card[data-color="3"]{
    background-color: #F8F3D7;
}
.section-3-div-card[data-color="4"]{
    background-color: #F8D7D7;
}

.section-3-text-card-1{
    cursor: default;

    height: 90px;
    line-height: 90px;

    margin: 0 0 4px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 90px;
    letter-spacing: 1px;
}

.section-3-text-card-2{
    cursor: default;

    height: 27px;
    line-height: 27px;

    margin: 0;
    
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
}

.section-3-text-card-1[data-color="1"], .section-3-text-card-2[data-color="1"]{
    color: #5B94D7;
}
.section-3-text-card-1[data-color="2"], .section-3-text-card-2[data-color="2"]{
    color: #5CC19A;
}
.section-3-text-card-1[data-color="3"], .section-3-text-card-2[data-color="3"]{
    color: #DBCA68;
}
.section-3-text-card-1[data-color="4"], .section-3-text-card-2[data-color="4"]{
    color: #B95E73;
}

/*#endregion*/

/*#region Section 4*/

.section-4-div-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1296px;
    height: 240px;

    padding: 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-4-div-text{
    max-width: 400px;
}

.section-4-text-main{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-4-div-cards{
    display: flex;
}

.section-4-div-card{
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 184px;
    height: 168px;

    padding: 24px 48px 48px 48px;
    margin: 0 0 0 8px;

    transition: 0.2s;
}

.section-4-div-card:hover{
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.075);
    
    transition: 0.2s;
}

.section-4-text-card-1{
    cursor: default;

    margin: 0 0 8px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-4-text-card-2{
    cursor: default;

    margin: 0 0 10px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 14px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 21px;
}

.section-4-div-img{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section-4-img-card{
    position: absolute;

    width: 21px;
    height: 15px;

    transform: translate(0, +18px);
}

/*#endregion*/

/*#region Section 5*/

.section-5-div-main{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1296px;

    padding: 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-5-div-text{
    padding: 0 12px;
    margin: 0 0 64px 0;
}

.section-5-text-main{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-5-div-cards{
    display: flex;
    justify-content: center;
}

.section-5-div-card{
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: 526px;

    padding: 0 12px;

    z-index: 1;
}

.section-5-div-card-left{
    margin: 0 48px 0 0;
}

.section-5-div-card-right{
    margin: 0 0 0 48px;
}

.section-5-img-card-school{
    max-width: 526px;
    max-height: 270.25px;
}

.section-5-div-card-place{
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 20px 0 0 0;
}

.section-5-img-card-place{
    width: 24px;
    height: 24px;
}

.section-5-text-card-place{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
}

.section-5-div-card-bottom{
    display: flex;
    align-items: end;

    margin: 24px 0;
}

.section-5-text-card-bottom-1{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-5-text-card-bottom-2{
    cursor: pointer;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #3597FF;
    letter-spacing: 1px;

    text-decoration: none;
}

.section-5-div-img-p{
    display: flex;
    justify-content: right;

    height: 0;
}

.section-5-img-p{
    position: absolute;

    width: 436px;
    height: 600px;
    
    z-index: 0;
    
    transform: translate(+222.5px, -340px);
}

/*#endregion*/

/*#region Section 6*/

.section-6-div-container{
    background-color: #F3F9FF;
}

.section-6-div-main{
    display: flex;
    align-items: center;

    max-width: 1320px;

    padding: 48px 0 0 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-6-div-left{
    padding: 16px 12px 0 12px;
}

.section-6-text-main{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-6-div-text{
    padding: 42px 16px 0 16px;
}

.section-6-img-quote{
    position: absolute;

    transform: translate(-15px, -30px);
}

.section-6-text-quote{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-6-div-person{
    display: flex;
}

.section-6-img-person{
    margin: 0 8px 0 0;
}

.section-6-text-name{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 25;
    font-size: 14px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 19px;
}

.section-6-div-right{
    display: flex;

    padding: 0 12px;
    margin: 0 0 0 110px;    
}

.section-6-img-right{
    width: 636px;
    height: 556px;
}

.section-6-div-arrows{
    display: flex;

    position: absolute;

    width: 0;
    height: 0;

    transform: translate(+445px, +145px);
}

.section-6-button-arrow{
    cursor: pointer;

    padding: 0 3px;

    background-color: #F3F9FF;
    border-style: none;
}

/*#endregion*/

/*#region Section 7*/

.section-7-div-container{
    display: flex;
    flex-direction: column;

    padding: 48px 0;
}

.section-7-div-main{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1296px;

    padding: 48px 12px 0 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-7-text-main{
    cursor: default;

    margin: 0 0 48px 0;

    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-7-div-cards{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 276px;
}

.section-7-button-card{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 308px;
    height: 234px;

    margin: 16px 8px;
    padding: 0;

    background-color: #FFFFFF;
    border: none;

    transition: 0.2s;
}

.section-7-button-card:hover{
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.075);
    
    transition: 0.2s;
}

.section-7-div-card-text{
    display: flex;
    flex-direction: column;

    padding: 24px 24px 48px 24px;
    margin: 8px 0 0 0;
}

.section-7-text-card-1{
    margin: 0 0 8px 0;

    text-align: start;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-7-text-card-2{
    margin: 0;

    text-align: start;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-7-div-card-img{
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 100%;
    width: 100%;

    padding: 0 24px;
}

.section-7-img-card{
    position: absolute;

    width: 21px;
    height: 15px;

    transform: translate(0, -21px);
}

.section-7-div-slide-container{
    display: flex;

    width: 100vw;
    height: 600px;
}

.section-7-div-slide{
    position: absolute;

    display: flex;
    justify-content: center;

    width: 100vw;

    padding: 100px 0 0 0;
}

.section-7-div-slide[data-position="2"]{
    transform: translate(66.5vw, 0);
}
.section-7-div-slide[data-position="3"]{
    transform: translate(133vw, 0);
}
.section-7-div-slide[data-position="4"]{
    transform: translate(-66.5vw, 0);
}

.section-7-div-img{
    display: flex;
    justify-content: right;

    width: 1330px;
    height: 500px;

    margin: 0 calc(calc(100vw - 1330px) / 2);
}

.section-7-img-slide{
    object-fit: cover;
    
    border-radius: 20px;

    width: 980px;
    height: 500px;

    z-index: 1;
}

.section-7-img-slide[data-position="2"]{
    opacity: 0.2;
}
.section-7-img-slide[data-position="3"]{
    opacity: 0.2;
}
.section-7-img-slide[data-position="4"]{
    opacity: 0.2;
}

.section-7-div-slide-text{
    position: absolute;
    
    border-radius: 6px;
    border: solid 1px #90458E;
    
    width: 521px;
    height: 420px;
    
    padding: 40px 32px;
    
    background-color: #A54FA2;
    
    transform: translate(-740px, -75px);
    
    z-index: 2;
}

.section-7-div-slide-text[data-position="2"]{
    transform: translate(-10000px, -75px);
}
.section-7-div-slide-text[data-position="3"]{
    transform: translate(-10000px, -75px);
}
.section-7-div-slide-text[data-position="4"]{
    transform: translate(-10000px, -75px);
}

.section-7-text-slide-1{
    cursor: default;

    margin: 0 0 16px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.section-7-div-slide-border{
    width: 50px;
    height: 0;

    border-bottom: solid 2px #D2A7D1;
}

.section-7-text-slide-2{
    cursor: default;

    margin: 24px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 34px;
}

.section-7-text-slide-3{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 25px;
}

.section-7-text-slide-4{
    cursor: default;

    margin: 0 0 6px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.section-7-div-img-o{
    display: flex;
    justify-content: right;

    height: 0;
}

.section-7-img-o{
    position: absolute;

    width: 482px;
    
    z-index: 0;
    
    transform: translate(+205px, -170px);
}

.section-7-div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
}

.section-7-div-buttons-abs{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(0, -27.5px);

    z-index: 2;
}

.section-7-button-slide{
    cursor: pointer;

    width: 9px;
    height: 9px;

    margin: 0 3px;
    padding: 0;

    background-color: #9E9D9F;
    border: none;

    border-radius: 50%;

    transition: 0.2s;
}

.section-7-button-slide:hover{
    background-color: #3597FF;
}

.section-7-button-slide--active{
    background-color: #3597FF;

    transition: 0.2s;
}

/*#endregion*/

/*#region Section 8*/

.section-8-div-container{
    display: flex;
    flex-direction: column;

    padding: 48px 0;
}

.section-8-div-main{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1296px;

    padding: 48px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));

    border-bottom: solid 1px #D7EAFF;
}

.section-8-text-main-1{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-8-text-main-2{
    cursor: default;

    padding: 0 48px;
    margin: 0 48px 96px 48px;

    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-8-text-main-3{
    cursor: default;

    width: 100%;
    line-height: 27px;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 18px;
    color: #212529;
    letter-spacing: 1px;
}

.section-8-div-border-main{
    display: flex;

    width: 100%;
    height: 0;
}

.section-8-border-main{
    width: 50px;
    height: 0;

    margin: 24.5px 0;

    border-bottom: solid 1px #AAB5C6;
}

.section-8-div-students{
    display: flex;

    width: 100%;

    padding: 48px 0 0 0;
}

.section-8-div-student{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.section-8-div-left{
    display: flex;
    flex-direction: column;

    max-width: 416px;

    padding: 0 24px 0 0;
}

.section-8-text-left-1{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #212529;
    letter-spacing: 1px;
    line-height: 33px;
}

.section-8-text-left-2{
    cursor: default;

    margin: 0 0 16px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-8-div-right{
    display: flex;

    width: 636px;
    height: 350px;
}

.section-8-img-right{
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.section-8-button-right{
    position: absolute;

    padding: 0;

    background-color: transparent;
    border: none;

    transform: translate(285px, 142px);
}

.section-8-a-right{
    cursor: pointer;
    
    position: absolute;

    margin: 10px;

    width: 636px;
    height: 350px;
}

.section-8-div-arrows{
    display: flex;
    justify-content: left;

    padding: 6px 0;

    width: 100%;
}

.section-8-button-arrow{
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: 0 6px 0 0;

    background-color: transparent;
    border: none;
}

.section-8-div-dots{
    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: 24px;

    margin: 0 0 3px 0;
}

.section-8-button-dot{
    cursor: pointer;

    width: 9px;
    height: 9px;

    margin: 0 3px;
    padding: 0;

    background-color: #D7EAFF;
    border: none;

    border-radius: 50%;

    transition: 0.2s;
}

.section-8-button-dot:hover{
    background-color: #3597FF;
}

.section-8-button-dot--active{
    background-color: #3597FF;

    transition: 0.2s;
}

.section-8-div-end{
    cursor: pointer;

    display: flex;
    align-items: center;

    width: 100%;
    height: 24px;
}

.section-8-div-end > a{
    text-decoration: none;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #3597FF;
    letter-spacing: 1px;
}

.section-8-div-end > img{
    height: 1rem;

    margin: 0 0 0 8px;
}

.section-8-div-img-a{
    display: flex;
    justify-content: left;

    height: 0;
}

.section-8-img-a{
    position: absolute;

    width: 435px;
    height: 435px;
    
    z-index: -1;
    
    transform: translate(-221px, -143px);
}

/*#endregion*/

/*#region Section 9*/

.section-9-div-container{
    display: flex;
    flex-direction: column;

    padding: 48px 0;
}

.section-9-div-first{
    display: flex;
    flex-direction: column;

    max-width: 1296px;

    padding: 48px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));

    border-bottom: solid 1px #D7EAFF;
}

.section-9-text-first{
    cursor: default;

    width: 100%;
    
    margin: 0 0 48px 0;
    
    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-9-div-first-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

.section-9-div-first-card{
    display: flex;
    flex-direction: column;

    width: 306px;

    padding: 48px 12px 0 12px;
}

.section-9-img-first-card{
    width: 43px;
    height: 44px;
}

.section-9-div-first-card-text{
    padding: 24px 0 16px 0;
}

.section-9-text-first-card-1{
    cursor: default;

    margin: 0 0 24px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-9-text-first-card-2{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-9-div-second{
    display: flex;
    flex-direction: column;

    max-width: 1320px;

    padding: 48px 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-9-text-second{
    cursor: default;

    width: 100%;
    
    margin: 24px 0 72px 0;
    
    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-9-div-second-cards{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.section-9-div-second-card{
    padding: 0 12px;
    margin: 0 0 24px 0;
}

.section-9-img-second-card{
    width: 306px;
    height: 366.75px;

    border-radius: 5px;
}

.section-9-div-second-card-text{
    padding: 8px 0 16px 0;
}

.section-9-text-second-card-1{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #666B8D;
    letter-spacing: 1px;
}

.section-9-text-second-card-2{
    cursor: default;

    margin: 16px 0 0 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-9-text-second-card-3{
    cursor: default;

    height: 24px;
    line-height: 24px;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
}

/*#endregion*/

/*#region Section 10*/

.section-10-div-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1320px;

    padding: 48px 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-10-img-left{
    width: 636px;
    height: 451.13px;

    padding: 0 12px;
}

.section-10-div-right{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;

    padding: 0 12px;
}

.section-10-text-right-1{
    cursor: default;

    margin: 0 0 24px 0;

    font-family: SF-Pro-Display;
    font-weight: 200;
    font-size: 32px;
    color: #212529;
    letter-spacing: 1px;
}

.section-10-text-right-2{
    cursor: default;

    margin: 0 0 48px 0;

    font-family: SF-Pro-Display;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-10-div-a{
    cursor: pointer;

    display: flex;
    align-items: center;

    width: 100%;
    height: 24px;
}

.section-10-div-a > a{
    text-decoration: none;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #3597FF;
    letter-spacing: 1px;
}

.section-10-div-a > img{
    height: 1rem;

    margin: 0 0 0 8px;
}

/*#endregion*/

/*#region Section 11*/

.section-11-div-main{
    display: flex;
    justify-content: space-between;

    max-width: 1296px;

    padding: 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-11-div-left{
    display: flex;
    align-items: center;
    
    max-width: 440px;
}

.section-11-div-left > p{
    cursor: default;

    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-11-div-right{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 856px;

    padding: 0 0 0 12px;
}

.section-11-div-right > img{
    margin: 16px 48px 16px 0;
}

.section-11-div-right > div > img{
    margin: 16px 48px 16px 0;
}

.section-11-div-right > div{
    height: 81px;
}

/*#endregion*/

/*#region Section 12*/

.section-12-div-main{
    display: flex;

    width: 100%;

    margin: 100px 0;
}

.section-12-div-main > div{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.section-12-img{
    position: absolute;

    width: calc(100vw / 6);
    height: calc(100vw / 6);

    object-fit: cover;
}

.section-12-text-img{
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: end;

    position: absolute;

    width: calc(100vw / 6);
    height: calc(100vw / 6 - 8px);

    padding: 0 0 8px 0;
    margin: 0;

    font-family: SF-Pro-Display;
    font-weight: 50;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;

    background-color: rgba(0, 0, 0, 0);
    opacity: 0;

    transition: 0.2s;
}

.section-12-text-img:hover{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;

    transition: 0.2s;
}

/*#endregion*/

/*#region Section 13*/

.section-13-div-main{
    display: flex;
    justify-content: space-between;

    max-width: 1296px;

    padding: 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-13-div-left{
    display: flex;
    flex-direction: column;

    max-width: 526px;

    padding: 4px 0 0 0;
}

.section-13-text-left-1{
    cursor: default;

    margin: 0 0 16px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529  ;
    letter-spacing: 1px;
}

.section-13-text-left-2{
    cursor: default;

    margin: 0 0 24px 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #666B8D;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-13-div-imgs{
    display: flex;
    align-items: center;

    margin: 0 0 24px 0;
}

.section-13-img-left{
    cursor: pointer;

    margin: 0 1rem 0 0;
}

.section-13-button-left{
    cursor: pointer;

    max-width: 208px;
    min-height: 58.6px;

    padding: 18px 50px;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;

    background-color: #3597FF;
    border: 0;
    border-radius: 5px;
}

.section-13-div-right{
    display: flex;
    justify-content: right;
}

.section-13-img-right{
    width: 636px;
    height: 357.9px;

    padding: 0 0 0 12px;
}

/*#endregion*/

/*#region Section 14*/

.section-14-div-main{
    display: flex;
    flex-direction: column;

    max-width: 1296px;

    padding: 72px 12px;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-14-text-main{
    cursor: default;

    margin: 0 0 96px 0;

    text-align: center;
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #212529;
    letter-spacing: 1px;
}

.section-14-div-imgs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-14-div-imgs > div{
    display: flex;
    align-items: center;
}

.section-14-img-1{
    padding: 0 24px;
}

.section-14-img-2{
    padding: 0 8px;
    margin: 8px 0 0 0;
}

/*#endregion*/

/*#region Section 15*/

.section-15-div-main{
    max-width: 1320px;

    padding: 48px 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-15-div-main > div{
    display: flex;
    justify-content: left;

    padding: 48px;
    margin: 0 0 48px 0;

    background-color: #D7EAFF;
    border-radius: 0.25rem;
}

.section-15-text{
    cursor: default;

    min-width: 582px;

    padding: 0 12px 0 36px;
    margin: 0;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 0;
    font-size: 20px;
    color: #212521;
    letter-spacing: 1px;
}

.section-15-div-input{
    display: flex;
    justify-content: end;
    align-items: center;

    width: 100%;

    padding: 0 0 0 12px;
}

.section-15-div-input > input{
    width: 100%;
    height: 28px;

    padding: 6px 60px 6px 20px;

    border-radius: 0.4rem;

    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;

    background-color: #FFFFFF;
    border: none;
}

.section-15-div-input > input:focus{
    outline: none;
}

.section-15-div-input > img{
    cursor: pointer;

    position: absolute;

    padding: 0 24px 0 0;

    z-index: 1;
}

.section-15-div-input > input::placeholder{
    font-family: SF-Pro-Display, sans-serif;
    font-weight: 50;
    font-size: 14px;
    color: #666B8D;
    letter-spacing: 1px;
}

/*#endregion*/

/*#region Section 16*/

.section-16-div-main{
    display: flex;

    max-width: 1320px;

    padding: 48px 0;
    margin: 0 max(75px, calc((100vw - 1320px) * 0.5));
}

.section-16-div-1{
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 0 12px;
}

.section-16-img-main{
    width: 112px;
    height: 27px;
}

.section-16-text-main{
    width: 416px;

    margin: 10px 0 2px 0;

    font-family: SF-Pro-Display;
    font-weight: 50;
    font-size: 13px;
    color: #566B8D;
    letter-spacing: 1px;
}

.section-16-text-next{
    width: 306px;

    margin: 3px 0 2px 0;

    font-family: SF-Pro-Display;
    font-weight: 50;
    font-size: 13px;
    color: #566B8D;
    letter-spacing: 1px;
}

.section-16-a{
    width: 196px;

    margin: 0 0 2px 0;

    font-family: SF-Pro-Display;
    font-weight: 50;
    font-size: 13px;
    color: #566B8D;
    letter-spacing: 1px;
}

.section-16-div-2{
    width: 306px;

    display: flex;
    justify-content: end;
    align-items: end;

    padding: 0 12px;
}

.section-16-img-right{
    cursor: pointer;

    width: 20px;
    height: 20px;

    margin: 0 8px;
}

.section-16-img-footer{
    position: absolute;

    object-fit: cover;

    width: 108px;
    height: 76px;

    right: 0;

    transform: translate(0, 26px);
}

/*#endregion*/